<footer class="footer">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4 footer__item">
				<a href="" class="social__link facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
			</div>

			<div class="col-md-4 footer__item">
				<a href="" class="social__link youtube"><i class="fa fa-youtube" aria-hidden="true"></i></a>
			</div>

			<div class="col-md-4 footer__item">
				<a href="" class="social__link vk"><i class="fa fa-vk" aria-hidden="true"></i></a>
			</div>
		</div>
	</div>
</footer>