<footer class="footer">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4 footer__item">
				<a href="" class="social__link facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
			</div>

			<div class="col-md-4 footer__item">
				<a href="" class="social__link youtube"><i class="fa fa-youtube" aria-hidden="true"></i></a>
			</div>

			<div class="col-md-4 footer__item">
				<a href="" class="social__link vk"><i class="fa fa-vk" aria-hidden="true"></i></a>
			</div>
		</div>
	</div>
</footer>


<div class="hidden">
	<!-- form itself -->
	<form id="test-form" class="white-popup-block mfp-hide">
		<h1>Бесплатная консультация менеджера!</h1>
		<fieldset style="border:0;">
			<ol>
				<li>
					<label for="name">Имя:</label>
					<input id="name" name="name" type="text" placeholder="Имя" required="">
				</li>
				<li>
					<label for="phone">Телефон:</label>
					<input id="phone" name="phone" type="tel" placeholder="+380933131333" required="">
				</li>
				<li>
					<label for="email">Email</label>
					<input id="email" name="email" type="email" placeholder="Email" required="">
				</li>
			</ol>

			<a href="" class="form-button">Получить консультацию</a>
		</fieldset>
	</form>
</div>