<div class="col-md-4 col-md-offset-2">
	<div class="comment">
		<div class="comment__item">
			<div class="text">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque distinctio eius, blanditiis</p>
			</div>
			<div class="user">
				<img src="img/user.jpg" alt="">
				<span class="user__name">Виктория Мамошина</span>
				<span class="user__data">11 ОКТЯБРЯ 2016</span>
			</div>
		</div>

		<div class="comment__item">
			<div class="text">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur possimus laborum quas, rerum provident, qui obcaecati, dolores sit, aliquid incidunt velit ratione atque distinctio dolorum ipsa officiis voluptate magnam tempore.</p>
			</div>
			<div class="user">
				<img src="img/user.jpg" alt="">
				<span class="user__name">Виктория Мамошина</span>
				<span class="user__data">11 ОКТЯБРЯ 2016</span>
			</div>
		</div>
	</div>
</div>