.about {
	position: relative;
	padding: 50px 0;
	
	.about__list {
		margin: 50px 0px;
		.about__item {
			position: relative;
			padding: 0 0 0 65px;
			margin-bottom: 30px;
			&:hover i {
				-webkit-animation: pulse .5s;
				animation: pulse .5s;
			}
			i {
				top: 10px;
				left: 0;
				position: absolute;
				font-size: 45px;
				color: $main-color;
			}
			.title {
				font-size: 24px;
				color: #000;
				line-height: 28px;
			}
			.text {
				margin: 0;
				padding: 0;
				color: #373a3c;
			}
		}
	}
}