<section class="contact">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="contact__item">
					<i class="fa fa-map-marker" aria-hidden="true"></i>
					<ul class="list">
						<li class="item">г.Николаев</li>
						<li class="item">ул.Такая 29, оф 107</li>
					</ul>
				</div>
			</div>

			<div class="col-md-4">
				<div class="contact__item">
					<i class="fa fa-phone" aria-hidden="true"></i>
					<ul class="list">
						<li class="item">+38-063-10-527-35</li>
						<li class="item">+38-063-10-527-35</li>
						<li class="item">+38-063-10-527-35</li>
					</ul>
				</div>
			</div>

			<div class="col-md-4">
				<div class="contact__item">
					<i class="fa fa-envelope" aria-hidden="true"></i>
					<ul class="list">
						<li class="item">jeka_mojet_vse@google.com</li>
					</ul>
				</div>
			</div>

		</div>
	</div>
</section>