<section class="work">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4 work__item">
				<a href="">
					<img src="img/work-item.jpg" alt="">
					<div class="work__title">Работа в Финляндии</div>
					<div class="work__text">Финляндия – страна невероятных впечатлений, сказочных лесов, кристально прозрачных озер и рек. Работая здесь, вы получите не только хороший доход, но и массу приятных впечатлений на всю жизнь.
					</div>
				</a>
			</div>

			<div class="col-md-4 work__item">
				<a href="">
					<img src="img/work-item.jpg" alt="">
					<div class="work__title">Работа в Финляндии</div>
					<div class="work__text">Финляндия – страна невероятных впечатлений, сказочных лесов, кристально прозрачных озер и рек. Работая здесь, вы получите не только хороший доход, но и массу приятных впечатлений на всю жизнь.
					</div>
				</a>
			</div>

			<div class="col-md-4 work__item">
				<a href="">
					<img src="img/work-item.jpg" alt="">
					<div class="work__title">Работа в Финляндии</div>
					<div class="work__text">Финляндия – страна невероятных впечатлений, сказочных лесов, кристально прозрачных озер и рек. Работая здесь, вы получите не только хороший доход, но и массу приятных впечатлений на всю жизнь.
					</div>
				</a>
			</div>

			<div class="col-md-4 work__item">
				<a href="">
					<img src="img/work-item.jpg" alt="">
					<div class="work__title">Работа в Финляндии</div>
					<div class="work__text">Финляндия – страна невероятных впечатлений, сказочных лесов, кристально прозрачных озер и рек. Работая здесь, вы получите не только хороший доход, но и массу приятных впечатлений на всю жизнь.
					</div>
				</a>
			</div>

			<div class="col-md-4 work__item">
				<a href="">
					<img src="img/work-item.jpg" alt="">
					<div class="work__title">Работа в Финляндии</div>
					<div class="work__text">Финляндия – страна невероятных впечатлений, сказочных лесов, кристально прозрачных озер и рек. Работая здесь, вы получите не только хороший доход, но и массу приятных впечатлений на всю жизнь.
					</div>
				</a>
			</div>

			<div class="col-md-4 work__item">
				<a href="">
					<img src="img/work-item.jpg" alt="">
					<div class="work__title">Работа в Финляндии</div>
					<div class="work__text">Финляндия – страна невероятных впечатлений, сказочных лесов, кристально прозрачных озер и рек. Работая здесь, вы получите не только хороший доход, но и массу приятных впечатлений на всю жизнь.
					</div>
				</a>
			</div>

		</div>
	</div>
</section>