*::-webkit-input-placeholder {
	color: #fff;
	opacity: 1;
}
*:-moz-placeholder {
	color: #fff;
	opacity: 1;
}
*::-moz-placeholder {
	color: #fff;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #fff;
	opacity: 1;
}
body input:focus:required:invalid,
body textarea:focus:required:invalid {
	color: #fff;
}
body input:required:valid,
body textarea:required:valid {
	color: #fff;
}
body {
	position: relative;
	min-width: 320px;
	font-size: 14px;
	line-height: 1.6;
	font-family: 'Open Sans', sans-serif;
	overflow-x: hidden;
	color: #fff;
	height: 5000px;
	background-color: #fff;
}
.trans {
	transition: all .5s ease;
}
.before {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.btn__red {
	background: $main-color;
	border: 1px solid $main-color;
	color: #fff;
	@extend .trans;
	&:hover {
		background: none;
		color: #fff;
	}
}
.btn__border__red {
	border: 1px solid $main-color;
	color: #fff;
	@extend .trans;
	&:hover {
		background: $main-color;
		color: #fff;
	}
}
.btn__yellow {
	background: yellow;
	border: 1px solid yellow;
	color: #fff;
	@extend .trans;
	&:hover {
		color: yellow;
		background:none;
	}
}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.footer__mob__menu {
		display: none;
	}
	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}
}